@use "../../style/variables" as v;

.button {
  font-family: v.$font-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 1rem;
  font-weight: bold;
}

.primary {
  background-color: v.$cyan;
  color: v.$blue;
  border: none;

  &:hover {
    opacity: 0.85;
  }
}

.outline {
  background-color: transparent;
  border: 1px solid v.$cyan;
  color: v.$cyan;

  &:hover {
    background-color: rgba(v.$cyan, 0.1);
  }
}
