@use "../../style/variables" as v;

.contactPage {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 5%;
  background-color: rgba(v.$gray, 0.1);
  margin: 2rem;
  border-radius: 20px;
  border: solid 1px rgba(v.$gray, 0.2);
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 60px;
  align-items: center;
}

.infoSection {
  flex: 1;

  .overline {
    color: v.$gray;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .title {
    color: v.$offwhite;
    font-size: 4rem;
    font-weight: 800;
    line-height: 0.9;
    margin: 15px 0;
  }
  .description {
    color: v.$gray;
    line-height: 1.6;
    max-width: 400px;
  }
}

.formCard {
  flex: 1.2;
  background-color: rgba(v.$gray, 0.1);
  padding: 45px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
}

.mobileHeader {
  display: none;
}

.mobileText {
  display: none;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  label {
    color: v.$cyan;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  input,
  textarea {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    color: v.$offwhite;
    border-radius: 6px;
    &:focus {
      border-color: v.$cyan;
      outline: none;
    }
  }
}

.row {
  display: flex;
  gap: 20px;

  .inputGroup {
    flex: 1;
  }
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secureBadge {
  color: v.$gray;
  font-size: 0.7rem;
}

@media (max-width: 880px) {
  .containcer {
    flex-direction: column;
    padding-bottom: 80px;
  }

  .infoSection {
    display: none;
  }

  .formCard {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .mobileHeader {
    display: block;
    margin-bottom: 30px;
    .mobileTitle {
      color: v.$cyan;
      font-size: 2.5rem;
      margin: 0;
    }
    .mobileSubtitle {
      color: v.$offwhite;
      opacity: 0.8;
      margin-top: 10px;
    }
  }

  .desktopText {
    display: none;
  }
  .mobileText {
    display: inline;
  }

  .row {
    flex-direction: column;
    gap: 0;
  }

  .formFooter {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .secureBadge {
    display: none;
  }
}
