@import "../../style/variables";

.card {
  position: relative;
  background: rgba($gray, 0.05);
  border: 1px solid rgba($gray, 0.2);
  border-radius: 12px;
  padding: 2rem;
  margin: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  backdrop-filter: blur(6px);
  overflow: hidden;
  height: 100%;
  max-width: 320px;
  width: 100%;

  &:hover {
    transform: translateY(-6px);
    border-color: $cyan;
    box-shadow: 0 0 20px rgba($cyan, 0.25);
  }
}

.highlight {
  border-color: $cyan;
  box-shadow: 0 0 25px rgba($cyan, 0.35);
}

/* SUBTITLE */
.card h3 {
  font-size: 0.7rem;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.9;
}

/* TITLE */
.card h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: $offwhite;
  text-transform: uppercase;
}

/* PRICE */
.card p {
  font-size: 2rem;
  font-weight: 600;
  color: $cyan;
  padding-block: 1rem;
}

.monthly {
  font-size: 0.9rem;
  color: $gray;
  font-weight: 400;
}

/* FEATURES */
.card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 0.9rem;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  opacity: 0.8;
}

.card li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.card li {
  color: $gray;
  font-size: 0.95rem;
  opacity: 0.9;
}

/* BUTTON */
.card button {
  margin-top: auto;
  width: 100%;
  text-transform: capitalize;
  font-size: 0.8rem;
}

/* BEST VALUE BADGE */
.badgeRibbon {
  position: absolute;
  top: 18px;
  right: -28px;
  background: $fuchsia;
  color: $offwhite;
  font-size: 0.45rem;
  font-weight: 700;
  padding: 6px 32px;
  text-transform: uppercase;
  transform: rotate(45deg);
  letter-spacing: 1px;
  box-shadow: 0 0 12px rgba($fuchsia, 0.4);
}
